@font-face {
  font-family: Unibody;
  src: url(js/assets/fonts/Unibody8.ttf);
}

body {
  margin: 0;
  font-family: Unibody;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/278/160/small/polygon-geometric-design-abstract-technology-concept-abstract-blue-light-background-vector.jpg");
}

.nav-item a{
  text-decoration: none;
  color: whitesmoke;
  margin-inline: 8px;
}

.navbar-style{
  background-color: #226D85  ;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 100px;
  background: white;
  font-weight: 700;
}

.nav-item .active{
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.card{
  height: 400px;
  background-color: darkgrey;
}

.card input{
  margin-top: 320px;
}
