.controls-container{
    display: flex;
    flex-direction: column;
    
}

.controls-container > div {
    margin:auto;
    display: flex;
    margin-block: 10px;
    align-items: center;
}



.col-6 button{
    height: 50px;
    min-width: 200px;
}

.bgm-button{
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.opciones-controles button{
    height: 50px;
    width: 250px;
}