.controls-container{
    display: flex;
    flex-direction: column;
    
}

.controls-container > div {
    margin:auto;
    display: flex;
    margin-block: 10px;
    align-items: center;
}

p{
    margin: none;
}

button{
    width: 200px;
}