.jugar-styles {
    width: 47rem;
    height: 34rem;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/175/454/387/tetris-video-games-wallpaper-preview.jpg");
}