.tetris-display{
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    margin: 0 0 20px 50px;
    padding: 20px;
    border: 4px solid #333;
    min-height: 30px;
    width: 100%;
    border-radius: 20px;
    color: #999;
    background: #000;
    font-size: 0.8rem;
}

.tetris-stage{

    display: grid;
    grid-template-rows: repeat(20, 25px);
    grid-template-columns: repeat(12, 25px);
    grid-gap: 1px;
    border: 2px solid #333;
    width: fit-content;
    background: #111;
    height: fit-content;

}

.tetris-app{
    display: flex;
    align-items: flex-start;
    padding: 40px;
    margin: 0 auto;
  
}

aside {
    display: block;
    padding: 0 20px;
}

.tetris-container{
    width: fit-content;
    height: fit-content;
    background-size: cover;
    overflow: hidden;
}

.tetris-startbutton{
    margin: 0 0 20px 50px;
    padding: 20px;
    border: 4px solid #333;
    min-height: 30px;
    width: 100%;
    background: #000;
    color: #999;
    border-radius: 20px;
}
.tetris-startbutton:hover {
    border: 4px solid #646464;
}
.tetris-startbutton:active {
    background-color: #292929;
    border: 4px solid #6b6b6b;
}